<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>login Details</h1>

    <h2>Name: <%= data.username %></h2>
    <h2>password: <%= data.password %></h2>
    <h2>address: <%= data.address %></h2>
    
</body>
</html>